*.gif
data
lib/*
AnalysisPSI
Apollo
BasicResiduals
CheckAlignment
CheckGainCalCoefs
ConvertGainCoefs
DeanTextToBinary
EfficiencyVsBX
EfficiencyVsTime
FindNoisyPixels
FindTrims
FitAddressLevels
GainCalFastFits
GenerateAlignment
GeoTest
GetEventsFromBinary
GetParamsFromFile
HistNTP
MakeIdealAlignment
MakeIdealGainCal
MakeLumiGraphs
MakeStraightAlignment
MakeTracks
MakeTrimCalFileFake
NaiveROCCharge
NumberOfHitsPerEvent
OccupancyPlots
OccupancyPlots3x3
OverlayPHLumi
PLTDatToWave
PLTEventDisplay
PLTMC
PLTMC.dat
Plot3ParamFit
PlotADCForVCal
PlotBuckets
PlotEvent
PlotFedTime
PlotPixelVsTimeMagTest
PlotTemperature
PlotThresholds
PlotTrims
PrintBXTracks
PrintEventNumbers
PrintTextEvents
ProcessHistograms
PulseHeights
PulseHeightsSignalTrack
PulseHeightsTrack
ReadEvent
RunBasicTeststandAnalysis
RunTeststandGainCal
ScalarTree
setup_april.sh
ShowEvent
ShowGainCalPoints
SkimEvents
StandardAnalysis
TelescopeRotation
TestAlign.dat
TestAlignment
TestDACs
TestGainCal
TestTextFileReader
TrackOccupancy
TrackTest
TrackingEfficiency
TrackingEfficiencyCastor
UltraBlackFinder
Verbose
dumpPixffil
dumpPixffil_orig
splitintoev
tree1
*.*~
PLTGeometryExport
Alignment.root
Alignment.xml
