*.dat
!Alignment_*.dat
!Trans_Alignment_*.dat
*.gif
*.root
*.txt

test/*
lib/*
data
plotScripts/*.d
plotScripts/*.so

#*.*#
*.*~
.DS_Store

AccidentalAnalysis
Alignment.xml
BasicResiduals
BinaryHitCounter
CalculateAlignment
CalculateEventSize
CheckAlignment
CheckGainCalCoefs
ClusterLumi
ConvertGainCoefs
DeanTextToBinary
DetectFailure
DoubleColumnMC
dumpPixffil
dumpPixffil_orig
FindFilledBX
FindNoisyPixels
FindTrims
GainCalFastFits
GenerateAlignment
GetParamsFromFile
HistNTP
HitsVsEvent
MakeIdealAlignment
MakeIdealGainCal
MakeLumiGraphs
MakeStraightAlignment
MakeTracks
MakeTrimCalFileFake
MeasureAccidentals
MeasureAccidentalsBX
MeasureAccidentalsTele
MeasureMissRate
NumberOfHitsPerEvent
OccupancyPlots
OccupancyPlots3x3
OccupancyVsTime
OverlayPHLumi
ParseCondDBData
Plot3ParamFit
PlotActiveBunches
PlotADCForVCal
PlotBXDistribution
PlotBuckets
PlotEvent
PlotFedTime
PlotPixelVsTimeMagTest
PlotTemperature
PlotThresholds
PlotTrims
PLTDatToWave
PLTEventDisplay
PLTGeometryExport
PLTHitDisplay
PLTMC
PLTMC.dat
PrintBXTracks
PrintEventNumbers
PrintTextEvents
ProcessHistograms
PulseHeights
PulseHeightsBorder
PulseHeightsSignalTrack
PulseHeightsTrack
RawADCValues
ReadClusterLumi
ReadEvent
RunBasicTeststandAnalysis
RunTeststandGainCal
ScalarTree
ShowEvent
ShowGainCalPoints
SkimEvents
splitintoev
TelescopeRotation
TestAlignment
TestBinaryFileReader
TestBXPattern
TestDACs
TestGainCal
TestTextFileReader
TrackDiagnostics
TrackingEfficiency
TrackLumiZeroCounting
TrackLumiZeroCountingBXVdM
TrackLumiZeroCountingVdM
TrackMC
TrackOccupancy
TrackParams
TrackStudies
TrackTest
UltraBlackFinder
Verbose
